.brands {
    padding: 5rem 0;
}

.brands-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    width: 15rem;
    margin: 3rem;
    cursor: pointer;
    transition: 0.3s;
    filter: grayscale(100);
    opacity: 0.5;
}

.brand:hover {
    opacity: 1;
    filter: none;
}

.brand__img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    .brand {
        margin: 2rem;
    }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .brands-wrapper {
        flex-direction: column;
    }
}
