@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");

:root {
    --primary-color: #ffc451;
    --white-text-color: #ffffff;
    --dark-text-color: #444444;
    --dark-color: #151515;
    --gray-color: #aaaaaa;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    direction: rtl;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Vazirmatn", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--dark-color);
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* 
_________________________reset styles_________________________
*/

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    font-family: "Vazirmatn", sans-serif;
}

input:focus,
textarea:focus {
    outline: 0;
}

/* 
  _________________________heleper classes_________________________
*/

/* 
  _________________________responsive styles_________________________
*/

@media only screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .section-title {
        margin-bottom: 3rem;
    }
}
